/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
  background-color: #f7fafc;
  overflow-x: hidden;

  h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// main styles

header {
  padding: 4rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/images/HeroDarkSide.jpg);
  background-position-x: -24rem;

  h1 {
    color: white;
    margin: 2rem;
  }

  hr {
    width: 12rem;
    color: #f2295b;
  }
}

main {
  margin: 2rem;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    h2 {
      text-align: center;
    }

    article {
      margin: 2rem;
      padding: 2rem;
      width: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;
      border-radius: 0;
      box-shadow: .2rem .5rem 1rem #3a3a3a28;;

      h3 {
        margin-bottom: 1rem;
      }

      form {
        text-align: start;
      }

      fieldset {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem 0;

        legend {
          font-weight: bold;
        }
      }
      #submit-btn {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
        input {
          padding: 0.5rem 3rem;
          color: white;
          background: #f2295b;
          border: none;
          transition: 200ms;
          cursor: pointer;
          text-transform: uppercase;
        }
        input:hover {
          color: #f2295b;
          background: transparent;
        }
      }
    }
    .results {
      width: 22rem;
      .results-container {
        margin: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #f2295b;
        border-radius: 0;
        .result-item {
          margin: .5rem;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 0;
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .hidden {
      // add .classList.toggle('hidden') to hide/unhide this element
      // position: absolute; top: -1500px;
      position: absolute;
      transform: translateX(1000px);
    }
    .form-transition {
      transition: 1s;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: small;
  text-align: center;
  color: white;
  background-color: black;
}
